/* 
请把与index.html页面相关的css代码写在这里
同时删除该注释
*/


/* #message只是一个示例，可以删除 */

h1 {
    text-align: center;
}

.menuStyle {
    float: left;
}

#message {
    height: auto;
    line-height: 30px;
    border: 1px solid red;
}